
@tailwind base;
@tailwind components;
@tailwind utilities;
/* .side {
  height: 600px;
  display: flex;
  flex-direction: column;
  width: 258px;
  padding: 48px 32px 32px 32px;
  border-right-style: solid;
  border-right-color: #e4e4e4;
  border-right-width: 1px;
}

.layout {
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 40px;
  width: 194px;
  height: 77.6px;
} */
